body{
  font-family: Arial;
}
.navbar{
  background-color: darkblue;
  display: flex;
  color: white;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.Face{
  padding-left: 20px;
  display: flex;
}
.log{
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
.log a{
  text-decoration: none;
  color: white;
}

.container1{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.prof{
  width: 20%;
}
.new{
  width: 50%;
  margin-top: -20px;
}
.tab{
  width: 20%;
  display: flexbox;
}
button{
  background-color: darkblue;
  color: white;
  text-align: center;
  height: 30px;
}
.table{
  border: 1px solid grey;
  padding: 20px;
}

body.dark-theme {
  color: #eee;
  background: #121212;
}
body.dark-theme a {
  color: #809fff;
}
.but1{
  text-align: center;
  align-items: center;
  margin-top: 20px;
}
.a1{
  text-decoration: none;
  color: black;
}
.new1{
  width: 50%;
}
.a2{
  text-decoration: none;
  color: black;
}
.win{
 display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-bottom: 50px; 
}
.but3{
  background-color: red;
  color: white;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: darkblue; 
  color: white;
  cursor: pointer;
  padding: 25px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555; 
}

* {box-sizing: border-box}
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.btn34 {
  background-color: darkblue;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.btn34:hover {
  opacity:1;
}
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}
.container {
  padding: 16px;
}
.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #474e5d;
  padding-top: 50px;
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}
.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}